body {
    width: 100%;
    height: 100%;
    background-color: #000047; 
}

html {
    cursor: url('cursor/north-star-side-mouse.png'), default;
}

button:hover {
    cursor: url('cursor/north-star-mouse.png'), auto;
}

.cursorz:hover {
    cursor: url('cursor/north-star-mouse.png'), auto;
}

.fit-content {
    width: fit-content;
}

/* font start */
@font-face {
    font-family: 'starryFont';
    src: url('fonts/HalloWhiteDisplayPersonalUse-4BWeY.otf');
}

.starryFont {
    font-family: 'starryFont';
}

@font-face {
    font-family: 'barelyEnough';
    src: url('fonts/BarelyEnoughRegular-JRD6o.ttf');
}

.waltFont {
    font-family: 'barelyEnough';
}
/* font end */

/* cursor trail start */
.star {
    position: fixed;
    pointer-events: none;
}

.star:before, .star:after {
    position: absolute;
    top: 0;
    left: 0;
    content: '+';
    font-size: 9px;
}

.star:before {
    color: transparent;
    text-shadow: 0 0 3px rgb(248, 248, 91);
}

.star:after {
    background: yellow;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* cursor trail end */

/* starry background start */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

.sec {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

.sparkle {
    position: absolute;
    color: #222;
}

.sparkle::before {
    content: '\f005';
    font-family: fontAwesome;
}

.sparkle.animate {
    color: yellow;
    text-shadow: 0 0 5px yellow, 
    0 0 20px yellow, 
    0 0 50px yellow;
}

.container-fluid {
    position: absolute;
    top: 2%;
    right: 0;
}
/* starry background end */

button {
    height: fit-content;
    width: fit-content;
    border-radius: 50%;
    background-color: #a6a8ff;
}

.pding {
    padding: 10%; 
}